@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {
    background-color: #A4D555;
    font-family: 'Raleway', sans-serif; 
}


.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.well {
  font-family: 'Raleway', sans-serif;
}


.navbar-inverse {
  font-family: 'Oswald', sans-serif;
  background-color: #282828; /* blackish */
  color: #FFFFFF !important;
}

.jumbotron {
    font-family: 'Raleway medium', sans-serif;
    background-color: #A4D555; /*flownote green*/
    color: #FFFFFF; /*white*/
    height: 87vh;
    padding-top: 30vh;
}

.lobster {
    font-family: Lobster, "Brush Script MT", Script;
}

.well {
  background-color: #FFFFFF;
}

#section-info{
  background-color: #FFFFFF;
}